name: Increment version
on:
  push:
    branches: ["main"]
jobs:
  patch:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[update:patch]')"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
        with:
          github_token: ${{ secrets.GH_PAT_FOR_CREATE_PULL_REQUEST_ACTION }}
